<style type="text/css">
  .modal-content{
  background-color: #212121;
  width: 600px;
  }
</style>
<div class="modal" id="Modal-MoreInfo-{{ item.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ item.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ item.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="Modal-PurchaseItem-{{ item.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ item.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST">
          {{ purchase_form.hidden_tag() }}
          <h4>Are you sure you want to buy {{ item.name }}?</h4>
          <h6>
            Product Price: <span class="badget bg-danger rounded">{{item.price}}$</span>
          </h6>
          <br>
          <div class="modal-footer">
            <input id="purchased_item" type="hidden" name="purchased_item" value="{{ item.name }}">
            {{ purchase_form.submit(class="btn btn-outline-primary") }}
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>